body{
margin: 10px;
 background: linear-gradient(to left, #3886df, #6163e4);
 justify-content: center;
 align-items: center;
 
 
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.content{
  background-color: linear-gradient(to right, rgb(64, 53, 218) rgb(49, 162, 238)); 
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 800px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}