body{
margin: 10px;
 background: linear-gradient(to bottom, rgb(75, 152, 240), #bdd1e4);
}


.content{
  background-color: rgb(218, 38, 38);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 800px;
  margin: auto;
}