body {
	margin: 0;
	padding: 0;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
    background-color: linear-gradient(to right, #1334f1, #1ed43d);
    display:flex;
}


.download {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: linear-gradient(to right, #2326ee, #1ed43d);
}
